<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512022167907-3p9lqnctbk3t8pq8f0cp01kggbkgbg37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512022167907-3p9lqnctbk3t8pq8f0cp01kggbkgbg37</string>
	<key>API_KEY</key>
	<string>AIzaSyAkpJY8M8loFHrVjN6SFpSwekFBSHmtv4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>512022167907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blacksquared.sdk.sampleApp</string>
	<key>PROJECT_ID</key>
	<string>ios-sdk-changers-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-sdk-changers-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512022167907:ios:8816f97999a5c202a7d356</string>
	<key>DATABASE_URL</key>
	<string>https://ios-sdk-changers-sample.firebaseio.com</string>
</dict>
</plist>